@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.image-gallery{
    margin-top: 103px;
}
.savory-section{
    display: flex;
    padding: 45px 30px;
}

.savory-section .savory-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.savory-content h1{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    padding-bottom: 5px;
    border-bottom: 3px solid #F00;
    width: 490px;
    margin-bottom: 40px;
}

.savory-content p{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 0.8cm;
}

.savory-section img{
    top: 55px;
}
.savory-content .button-menu {
    margin-top: 40px;
    margin-right: 60px;
    align-self: flex-end;
    display: flex;
}

.button-menu p  {
    margin-right: 15px;
    align-self: center;
}

.button-menu .button{
    border: 2px solid  #408618;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    transition: background-color 0.2s;
}

.button:hover{
    background-color: #408618;

}
.button:hover a{
    color: #FFF;
}
.button-menu a{
    color: #408618;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    transition: color 0.2s;
    
}

