@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea:focus, input:focus, select:focus  {
    box-shadow: 0 0 0 0;
    border: 1px solid rgba(0, 0, 0, 0.356);
    outline: 0;
    background-color: #ededed;
} 

body{
    -webkit-font-smoothing: antialiased;
    font: 400 14px 'Roboto' sans-serif;
}

button{
    cursor: pointer;
}

form input{
    height: 50px;
    margin-bottom: 20px;
    background-color: #F6F6F6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-left: 10px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 13px;
    transition: background-color  0.2s border 0.5s;

}

form input:hover{
    background-color: #ededed;
}

