@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;500;600;700&display=swap');



p{
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
}
.title{
    margin-top: 103px;
    font-family: 'Roboto Slab', serif;
}

.orders-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.order-summary{
    display: flex;
}

.order-summary .order-info h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.order-summary .order-status{
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 600;
}